# ######################
# App Configuration
# ######################
ENVIRONMENT=local
DEPLOY_VERSION=local_version
API_NAME=<serviceName>
API_VERSION=local_version
API_PORT=8080
LOG_LEVEL=info
CONSOLE_LOGGING_ENABLED=true

# #########################
# Elastic-apm Configuration
# #########################
ELASTIC_APM_ACTIVE=false
ELASTIC_APM_ENVIRONMENT=local
ELASTIC_APM_SERVICE_NAME=<serviceName>
ELASTIC_APM_SERVICE_VERSION=local_version
ELASTIC_APM_SERVER_URL=http://USOTELKAPM.use.ucdp.net:8200
ELASTIC_APM_CAPTURE_SPAN_STACK_TRACES=true

# #########################
# Kibana Configuration
# #########################
KIBANA_LOGGING_ENABLED=false
KIBANA_HOST: USOTELKLSVIP01.use.ucdp.net
KIBANA_PORT: "8888"

# ######################
# Couch Configuration
# ######################
COUCH_USERNAME=<serviceName>
COUCH_PROTOCOL=https
COUCH_HOST=uo-couchdb-dev.use.ucdp.net
COUCH_DATABASE_NAME=<serviceName>
